body *{
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background: var(--background-color); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.anime-cadastro{
    width: 35vw;
}
.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rigth-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner{
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    background-color: #C4CAD0;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-padrao);
    flex-direction: column;
}

.header{
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.form{
    padding: 20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition:  0,5s linear;
}

.form button:hover{
    opacity:  0.9;
}

@media only screen and (max-width: 950px){
    .conteiner{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }

    .left-cadastro{
        width: 100%;
        height: auto;
    }
    .rigth-cadastro{
        width: 100%;
        height: auto;
    }
    .anime-cadastro{
        width: 50vw;
        margin-bottom: 10px;
    }

}

/* erro e sucesso */
.form-control.sucesso input{
    border-color: var(--sucesso-color);
}

.form-control.erro input{
    border-color: var(--alerta-color);
}

.form-control.sucesso i.fa-check-circle{
    color: var(--sucesso-color);
    visibility: visible;
}

.form-control.erro i.fa-exclamation-circle{
    color: var(--alerta-color);
    visibility: visible;
}

.form-control.erro small{
    visibility: visible;
    color: var(--alerta-color);
}