
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro-link {
   color: #007dc6;
   
}
 p{
    color: white;
 }

.image-anima-login-left{
  width: 35vw;
}

.rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    overflow: hidden;
    background-color: #C4CAD0;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-padrao);
    flex-direction: column;
}

 
.loginBloco{
    padding: 20px;
}

.header{
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.textfield{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.textfield > input{
    border: 2px solid var(--primary-mens-wthite);
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.textfield  label{
    display: inline-block;
    margin-bottom: 5px;
}

.textfield i {
    position: absolute;
    top: 45px;
    right: 7px;
    visibility: hidden;
}

.textfield small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.btn-login{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--button-color);
    border-radius: 8px;
    letter-spacing: 3px;
    color:var(--secundary-mens-white);
    background-color: var(--button-color);
    cursor: pointer;
    transition:  0,6s linear;
}
.btn-login:hover{
    opacity:  0.85;
}
/* erro e sucesso */
.textfield.sucesso input{
    border-color: var(--sucesso-color);
}

.textfield.erro input{
    border-color: var(--alerta-color);
}

.textfield.sucesso i.fa-check-circle{
    color: var(--sucesso-color);
    visibility: visible;
}

.textfield.erro i.fa-exclamation-circle{
    color: var(--alerta-color);
    visibility: visible;
}

.textfield.erro small{
    visibility: visible;
    color: var(--alerta-color);
}

/* responsividade basica login */

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }
    .rigth-login{
        width: 100%;
        height: auto;
    }
    .image-anima-login-left{
        width: 50vw;
        margin-bottom: 10px;
    }

}